body, p, ul, li
  margin 0

h1, h2, h3, h4, h5, h6
  margin 0
  font-weight 400

a
  text-decoration none
  color inherit

ul
  list-style none
  padding 0

input
  font-family inherit
  font-size inherit

.swal-button
  background-color #0071bc
.swal-button:not([disabled]):hover
  background-color #0584d8
.swal-button:active
  background-color #007fd4
.swal-footer
  display flex
  justify-content center
